*.o
*.rdb
*.log
redis-cli
redis-server
redis-benchmark
redis-check-dump
redis-check-aof
doc-tools
release
misc/*
src/release.h
appendonly.aof
SHORT_TERM_TODO
SciTE.session
vars.bat
*.exe
*.dll
release.h
src/transfer.sh
src/configs
src/redis-server.dSYM
*.depend
*.layout
*.cbp
*.script
*.cbTemp
bin/*
*.sublime-project
*.sublime-workspace
